<beans>
    <!--KeepUI keepUi = new KeepUI();-->
	<bean id="console" class="ro.ubbcluj.cs.email_client.ui.ConsoleUI">
        <property name="service" ref="service"/>
    </bean>
	<bean id="service" class="ro.ubbcluj.cs.email_client.service.MessangerService">
        <property name="userRepository" ref="userRepository"/>
		<property name="emailRepository" ref="emailRepository"/>
    </bean>
	<bean id="emailRepository" class="ro.ubbcluj.cs.email_client.repository.EmailRepository">
        <property name="validator" ref="emailValidator"/>
    </bean>
    <bean id="emailValidator" class="ro.ubbcluj.cs.email_client.domain.validators.EmailValidator"/>
    <bean id="userRepository" class="ro.ubbcluj.cs.email_client.repository.UserRepository">
        <property name="validator" ref="userValidator"/>
    </bean>
	<bean id="userValidator" class="ro.ubbcluj.cs.email_client.domain.validators.UserValidator"/>
	
</beans>